# Exercices de visualisation pour débutant
Bienvenue à l'atelier de visualisation de données en python. Ce travail vous permettra de mettre en pratique les concepts clefs appris lors de la présentation sur le sujet. 

Premièrement, essayer de compiler la cellule ci-dessous pour vérifier que les *package* on bien été installés. Avec Jupyter notebook il suffit d'appuyer sur Ctrl + Enter ou Shift + Enter en étant dans la cellule pour compiler une cellule.

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

De plus, avec Jupyter vous n'avez pas besoin de mettre de `print` pour afficher le résultat de la dernière fonction ou la dernière variable, exemple :

In [14]:
'Hello world'

'Hello world'

In [16]:
'Hello world'
'Hello world 2'

'Hello world 2'

Toutefois, si `print` n'est pas utilisé, les variables non-assignées sont affichées seulement s'ils se trouvent à la dernière ligne de code.

In [22]:
'Hello world'
print('printed Hello world')
33

printed Hello world

33

## Partie 1 Analyse de données
### Base de données : *Penguins*!
![Artwork by @allison_horst](../assets/penguins.png)
Artwork by @allison_horst

La base de données utilisée pour cette exercice est la base de donnée gratuite *Palmer Archipelago's penguin*. Celle-ci regroupe des données multivariées de 3 espèces de manchos répartient sur l'archipel de Palmer en Antarctique et se veut un excellent outil d'introduction à la visualisation.

Dans la cellule suivante commencez par charger la base de données avec `pandas` et afficher sa taille avec `shape`.

> Les données sont sauvegardées dans le répertoire sous le nom de `palmerpenguins.csv`

> Le code écris dans une cellule précédente est accessible dans toutes les cellules en bas, donc pas besoin de refaire `import pandas as pd`

In [10]:
data = pd.read_csv('palmerpenguins.csv')
data.shape

(344, 17)

Vous devriez maintenant voir le nombre d'individus ainsi que le nombre de variables dans la base de données. La première étape de la visualisation est de comprendre les données avec lesquels on travail pour choisir les bonnes figures plus tard. La méthode la plus simple est d'afficher certaines données.


Dans la cellule suivante, affichez les cinq premières lignes ainsi que l'entête de la base de données.

In [23]:
data.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN